body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7fa; /* Very light pink */
  }
  
  h1, h2 {
    margin-left: 20px;
  }

  #martini-btn svg {
    width: 30px;
    height: auto; /* keep aspect ratio */
  }
  #martini-btn svg:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  

  #martini-btn {
    display: block;
    margin: 40px auto;
  }
  
  
  #closet-section {
    padding: 100px 20px;
    background-color: #fef6f9;
    text-align: center;
  }
  