body {
    background-image: url('Bewerbungsfoto.jpg'); /* Replace with your image filename */
    background-size: cover;     /* Make sure it covers the whole screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Don’t tile it */
    height: 100vh;              /* Make sure body takes full viewport height */
    margin: 0;                  /* Remove default margin */
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(4, 51, 53);
  }
  
  